.toolbar-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.brand {
  color: white;
  text-decoration: none;
  font-weight: 600;
}